@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #edeeef;
  --primary-color-darker: #dfe3e6;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.container1 {
  max-width: 1280px;
  margin: 20px auto;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.secao1 {
  width: 98%;
  margin: 5px auto;
  background: #fff;
  padding: 10px;
  border: 2px solid rgb(139, 139, 139);
  border-radius: 10px;
}

.secao2 {
  width: 96%;
  margin: 30px auto;
  background: #fff;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.entraDiv {
  animation-name: slide;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  transform: translateX(-100px);
}

h1 {
  text-align: center;
}

a.aInd {
  text-decoration: none !important;
}

a.aInd:hover {
  color: white;
  background-color: rgb(24, 127, 150);
}

input::placeholder {
	font-style: italic;
}

@keyframes slide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

